.container {
    display: grid;
    grid-template-rows: 1fr 5fr;
    border: 10px solid black;
}

.card-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 10px solid black;
}

.card {
    display: flex;
    flex-direction: column;
}